.footer{
    background-color: #111111;
    color: #7e7e7e;
    padding: 20px;
    

    .footer-heading{
        text-transform: uppercase;    
        font-weight: bold;
        color: white;
        padding: 8px 0;
    }
    .footer-list-item{
        padding: 8px 0;
        &:hover{
            color: white;
            cursor: pointer;
        }
    }
    .top{
        display: flex;
        margin-bottom: 50px;
        .left{
            flex: 1;
            
        }

        .center1{
            flex: 1;
        }

        .center2{
            flex: 1;
        }

        .right{
            flex: 2;
            display: flex;
            justify-content: flex-end;
            

            .social-icons{
                list-style: none;
                display: flex;
                
                li{
                    margin: 0 10px;
                    padding: 5px 5px;
                    border-radius: 50%;
                    height: 21px;
                    width: 21px;
                    background-color: #7e7e7e;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .icon{
                        color: #111111;
                        height: 20px;
                        width: 20px;
                    }

                    &:hover{
                        background-color: white;
                    }
                }

            }
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        
        padding: 0 10px 0 0;

        .right{
            display: flex;

            .bottom-right-content{
                padding: 0 8px;

                &:hover{
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}

